<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>径卫</title>
	<meta name="description" content="">
	<meta name="author" content="author">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!--高版本安卓Chrome卡片式切换的时候的皮肤（卡片）颜色-->
	<meta name="theme-color" content="#9f0800">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<!--Safari 将会对有内容溢出 Viewport 区域的页面进行缩放适配，使溢出的内容完整展示而不出现滚动条，而在 Viewport 设置中引入了一个新属性 shrink-to-fit = no，该属性可以禁止这种缩放行为的发生。-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- 指定苹果设备添加到主屏的标题 -->
	<meta name="apple-mobile-web-app-title" content="径卫">
	<!-- Favicons -->
	<link rel="shortcut icon" href="favicon.ico">
	<!-- IOS / Android 主屏图标 -->
	<link href="/images/webappicon/icon.png" rel="apple-touch-icon" />
	<link href="/images/webappicon/icon-76.png" rel="apple-touch-icon" sizes="76x76" />
	<link href="/images/webappicon/icon-120.png" rel="apple-touch-icon" sizes="120x120" />
	<link href="/images/webappicon/icon-152.png" rel="apple-touch-icon" sizes="152x152" />
	<link href="/images/webappicon/icon-180.png" rel="apple-touch-icon" sizes="180x180" />
	<link href="/images/webappicon/icon-192.png" rel="icon" sizes="192x192" />
	<link href="/images/webappicon/icon-128.png" rel="icon" sizes="128x128" />
	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<!-- win 8 磁贴标题 -->
	<meta name="application-name" content="径卫">
	<!-- win 8 磁贴颜色 -->
	<meta name="msapplication-TileColor" content="#ffffff">
	<!-- win 8 磁贴图标 -->
	<meta name="msapplication-TileImage" content="/images/webappicon/apple-touch-icon-120x120.png">
	<meta name="msapplication-tooltip" content="Tooltip">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<!--调试阶段禁止缓存,例如微信，QQ浏览器缓存-->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<!-- Enable iOS 自动检测电话号码 -->
	<meta name="format-detection" content="telephone=no" />
	<!-- 禁止百度转码 -->
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<!-- Favicons -->
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<!-- 针对手持设备优化  -->
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<meta name="x5-fullscreen" content="true">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- UC应用模式 -->
	<!--使用了application这种应用模式后，页面讲默认全屏，禁止长按菜单，禁止手势，标准排版，以及强制图片显示-->
	<meta name="browsermode" content="application">
	<!-- QQ应用模式 -->
	<meta name="x5-page-mode" content="app">
	<!-- windows phone 点击无高光 -->
	<meta name="msapplication-tap-highlight" content="no">
	<link rel="stylesheet" href="css/less/iconfont.css">
	<link rel="stylesheet" href="css/framework7.ios.min.css">
	<link rel="stylesheet" href="css/framework7.ios.colors.min.css">
	<link rel="stylesheet" href="css/allcss.min.css">
	<!--引入百度地图-->
	<script src="http://api.map.baidu.com/api?v=2.0&ak=7w1W3wrVyjK3O1INXeryGlHk75GOgtoc" type="text/javascript"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
  <!-- <script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script> -->
	<script src="js/lib/map.js" type="text/javascript"></script>
</head>
<body class="watch-center" data-pageJs="real-time">
	    <!-- 添加横屏时遮罩层 -->
	<div class="trasfrm ds768">
		<div class="padArow"></div>
		<div class="iconPad_1">
			<div class="iconpad_2"></div>
		</div>
		<div class="iconPad_1 trmoct">
			<div class="iconpad_2"></div>
		</div>
		<p class="trapf"><strong></strong> 请 <strong>切换到竖屏</strong> 以达到最佳浏览效果</p>
	</div>
		<div id="watchPage" class="watchPage"></div>
		<script type="text/x-template" id="app-watchPage">
			<div class="watchPage">
				<div class="watchPage" v-show="viewPage">
			<!-- Panels Overlay -->
			 <div class="panel-overlay"></div>

			 <!-- Left Panel with Reveal effect -->
			 <div class="panel panel-left panel-cover">
				 <div class="content-block">

						<div class="watch-left-top"><img src="images/person-left-touxiang.png" alt=""><p>{{userName}}</p></div>
						<ul class="watch-left-bottom">
							<li class="active"><i class="iconfont icon-shishijiankong"></i>实时监控<b></b></li>
							<li><i class="iconfont icon-baojingjiankong"></i>报警监控<b></b></li>
							<li><i class="iconfont icon-lishiguiji"></i>历史轨迹<b></b></li>
							<li><i class="iconfont icon-zhengtijiankong"></i>整体监控<b></b></li>
							<li><i class="iconfont icon-guzhangfenxi"></i>故障分析<b></b></li>
							<li><i class="iconfont icon-zhilingxiafa"></i>指令下发<b></b></li>
							<li><i class="iconfont icon-zhengjiandaoqi"></i>证件到期<b></b></li>
							<li><i class="iconfont icon-chaxun"></i>查询中心<b></b></li>
						</ul>
				 </div>
			 </div>

		 <div class="statusbar-overlay"></div>
		 <div class="views">
			 <div class="view view-main">
				 <!-- 导航 -->
				 <div class="navbar" style="z-index:99999;height:2.2rem;">
					 <div class="navbar-inner">
							 <div class="left">
									 <a href="#" data-panel="left" class="open-panel link"><i class="iconfont icon-juxing"></i></a>
							 </div>
							 <div class="head-center">实时监控</div>
							 <div class="right" class="linkRightBtn">
								 <a href="warnWatch.html" class="top-warnBtn external">
								 <span class="iconfont icon-baojingjiankong">
								 <i v-show="untreated"></i>
								 </span>
								 </a>
			           <a href="javascript:void(0);" @click="showFilter" class="top-rightBtn"><span class="iconfont icon-juxingkaobei"></span></a>
							 </div>
					 </div>
				 </div>
				 <!-- 主要内容 -->
				 <div class="pages navbar-through toolbar-through">
					 <div data-page="index" class="page">
						 <div class="page-content">
						 	<div class="indexPage-default" v-show="defaultHide">
						 		<!-- map -->
				              <div class="map-div" id="map-div" style="width:100%;height: 100%;"></div>
				              <!-- bottom-info -->
				              <div class="car-now-info none carNowInfo">
				                  <h3>{{pointed.plate}} <a class="check-track" @click="goTrackDetails(pointed.plate,pointed.carid)">查看轨迹</a></h3>
				                  <div class="car-info">
				                      <div class="info track-info">
				                          <p><span>原因:</span>{{pointed.alarm}}</p>
				                          <p><span>速度:</span>{{pointed.speed}}km/h</p>
				                          <p><span>时间:</span>{{pointed.time}}</p>
				                          <p><span>位置:</span>{{pointed.addr}}</p>
				                      </div>
				                 </div>
				              </div>
						 	</div>
						 	<!--筛选的页面-->
							<div class="filter-rightContent" v-show="filterHide">
								<!--车队列表  开始-->
								<div class="watch-right-Container" v-show="filerCarBox">
									<div class="alarmMonitor-right-top">
								       	<div><i class="iconfont icon-chaxun"></i><input type="text" @focus="turnSearch" placeholder="搜索车牌号"></div>
								    </div>
									<div class="watch-right-top">
										<div class="watch-right-top-top">选择车辆<b class="hide"></b><span>{{carCount}}</span></div>
										<ul class="watch-right-ul">
											<!--<li>
												<div class="watch-right-ul-list-top"><p @click="allAllSelectTeam()" style="display:inline-block;"><i class="iconfont icon-gouxuan1"></i><em>全选车队</em></p><span><b class="hide"></b>{{carCount}}</span></div>
											</li>-->
											<li v-for="(item,index) in items">
												<div class="watch-right-ul-list-top"><p @click="allSelectTeam(index,item.id)" style="display:inline-block;"><i :class="count[index].isAll==0?'iconfont icon-gouxuan1':'iconfont icon-gouxuan'"></i><em>{{item.name}}</em></p><span @click="showCarsList(index,item.id)"><b class="hide"></b>{{count[index].num}}</span></div>
											</li>
										</ul>
									</div>
									<div class="filter-bottom-btn"><p @click="resetSelected">重置</p><p class="sure" @click="sureSelected">确定</p></div>
								</div>
								<!--车队列表  结束-->
								<!--车队中车辆列表 开始-->
								<div class="filter-right-carsLists" v-show="filerCarlists">
									<ul  class="filter-ul-lists">
										<template v-for="(item,index) in caritems">
										<li v-if="item.state==0" @click="addItem(index,item.id);" :class="count[teamId].teamId.indexOf(item.id) > -1?'active':''">
											<i class="iconfont icon-xingzhuang"></i><img src="images/car-gary-01.png" alt="" /><p>{{item.plate}}（离线-从未上线）</p>
										</li>
										<li v-if="item.state==1" @click="addItem(index,item.id);" :class="count[teamId].teamId.indexOf(item.id) > -1?'active':''">
											<i class="iconfont icon-xingzhuang"></i><img src="images/car-gray-04.png" alt="" /><p>{{item.plate}}（离线-未定位）</p>
										</li>
										<li v-if="item.state==2" @click="addItem(index,item.id);" :class="count[teamId].teamId.indexOf(item.id) > -1?'active':''">
											<i class="iconfont icon-xingzhuang"></i><img src="images/car-gray-03.png" alt="" /><p>{{item.plate}}（离线-未定位-报警）</p>
										</li>
										<li v-if="item.state==3" @click="addItem(index,item.id);" :class="count[teamId].teamId.indexOf(item.id) > -1?'active':''">
											<i class="iconfont icon-xingzhuang"></i><img src="images/car-gray-05.png" alt="" /><p>{{item.plate}}（离线-有定位）</p>
										</li>
										<li v-if="item.state==4" @click="addItem(index,item.id);" :class="count[teamId].teamId.indexOf(item.id) > -1?'active':''">
											<i class="iconfont icon-xingzhuang"></i><img src="images/car-gray-02.png" alt="" /><p>{{item.plate}}（离线-有定位-报警）</p>
										</li>
										<li v-if="item.state==5" @click="addItem(index,item.id);" :class="count[teamId].teamId.indexOf(item.id) > -1?'active':''">
											<i class="iconfont icon-xingzhuang"></i><img src="images/car-blue-01.png" alt="" /><p>{{item.plate}}（在线-未定位）</p>
										</li>
										<li v-if="item.state==6" @click="addItem(index,item.id);" :class="count[teamId].teamId.indexOf(item.id) > -1?'active':''">
											<i class="iconfont icon-xingzhuang"></i><img src="images/car-red-01.png" alt="" /><p>{{item.plate}}（在线-未定位-报警）</p>
										</li>
										<li v-if="item.state==7" @click="addItem(index,item.id);" :class="count[teamId].teamId.indexOf(item.id) > -1?'active':''">
											<i class="iconfont icon-xingzhuang"></i><img src="images/car-blue-03.png" alt="" /><p>{{item.plate}}（在线-行驶）</p>
										</li>
										<li v-if="item.state==8" @click="addItem(index,item.id);" :class="count[teamId].teamId.indexOf(item.id) > -1?'active':''">
											<i class="iconfont icon-xingzhuang"></i><img src="images/car-red-02.png" alt="" /><p>{{item.plate}}（在线-行驶-报警）</p>
										</li>
										<li v-if="item.state==9" @click="addItem(index,item.id);" :class="count[teamId].teamId.indexOf(item.id) > -1?'active':''">
											<i class="iconfont icon-xingzhuang"></i><img src="images/car-blue-02.png" alt="" /><p>{{item.plate}}（在线-停车）</p>
										</li>
										<li v-if="item.state==10" @click="addItem(index,item.id);" :class="count[teamId].teamId.indexOf(item.id) > -1?'active':''">
											<i class="iconfont icon-xingzhuang"></i><img src="images/car-red-03.png" alt="" /><p>{{item.plate}}（在线-停车-报警）</p>
										</li>
										</template>
									</ul>
									<div class="filter-bottom-btn"><p @click="resetSelectedCar()">重置</p><p class="sure" @click="selectedCar()">确定</p></div>
								</div>
								<!--车队中车辆列表 结束-->

							</div>
						 </div>
					 </div>
				 </div>

					</div>
				 </div>

			 </div>
			 <!-- 搜索页面 开始 -->
			 <div class="searchPages" v-show="searchPages">
				 <div class="alarmMonitor-right-top">
						 <div><i class="iconfont icon-chaxun"></i><input type="text" class="searchInput" v-model="vauleInput" placeholder="搜索车牌号" autofocus="true"></div>
						<span class="searchSpan" @click="cancelSearch">取消</span>
				 </div>
				 <ul class="search-con">
					 <li v-for="item in selectArr" @click="searchResult(item)">{{item.plate}}</li>
				 </ul>
			 </div>
			 <!-- 搜索页面 结束 -->
		</div>
	 </script>
	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/device.min.js"></script>
	<script type="text/javascript" src="js/lib/vue.min.js"></script>
	<script type="text/javascript" src="js/lib/framework7.min.js"></script>
	<script type="text/javascript" src="js/lib/framework7-vue.min.js"></script>
	<script src="js/lib/require.js" data-main="js/app/main"></script>
	<script src="js/app/common.js"></script>

</body>

</html>
